<div class="row">

  <form ng-submit="create(team)">
    <div class="small-12 columns">
      <p>Select Week</p>
      <!-- <input type="number" ng-model="team.week"/> -->
      <select ng-model="team.week" ng-options="week.week for week in weeks"></select>
    </div>
    <div class="large-6 small-12 columns">
      <p>Away Team</p>
      <select ng-model="team.away_team" ng-options="team.name for team in teams"></select>
    </div>

    <div class="large-6 small-12 columns">
      <p>Home Team</p>
      <select ng-model="team.home_team" ng-options="team.name for team in teams"></select>
    </div>

    <div class="small-12 columns">
      <input type="submit" class="button small" value="Add Matchup">
    </div>
  </form>
</div>

<div class="row">
  <a ng-click="viewMatchups()">View Matchup</a>
</div>